.cart__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
}

.cart__list-item {
  width: 100%;
  margin-bottom: 50px;
}

.goods {
  font-size: 24px;
}

.goods__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  border: 1px solid #888;
  border-radius: 30px;
  padding: 30px 40px;
  margin: 0 auto;
}

.goods__picture {
  align-self: center;
}

.goods__title {
  flex: 1;
  padding: 0 20px;
}

.amount-counter__content {
  display: flex;
}

.amount-counter__control {
  padding: 0 10px;
  background: rgba(136, 136, 136, 0.2);
}

.amount-counter__value {
  max-width: 50px;
  border: none;
  text-align: center;
}

.goods__delete-button {
  position: absolute;
  top: 30px;
  right: 40px;
}

.empty-cart {
  display: none;
}

.empty-cart__title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.empty-cart__button {
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  background-color: #888;
}

.empty-cart--show {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@media (max-width: 550px) {
  .goods__title {
    text-align: center;
  }
}
