* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  min-width: 1110px;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 40px 0px 80px;
}

.header {
  color: #fff;
  background: #888;
}

.header__content {
  display: flex;
  justify-content: space-between;
  height: 140px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__picture {
  margin-right: 41px;
}
.logo__title {
  font-size: 48px;
  font-weight: 700;
}

.header__body {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-right: 65px;
}
.menu {
  font-size: 24px;
  font-weight: 800;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 60px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__item a {
  color: #fff;
}

.menu__item--underline {
  text-decoration: underline;
}

.cart__icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.cart__img {
  display: block;
  width: 48px;
  height: 48px;
}

.cart__counter {
  position: absolute;
  top: 0;
  right: -9px;
  min-width: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background-color: #f34141;
}

.banner {
  border-bottom: 1px solid #888;
  color: #888;
  background-color: #fff;
}

.banner__content {
  display: flex;
  height: 45px;
  margin-left: 318px;
  justify-content: space-between;
  align-items: center;
}

.banner__buy {
  width: 50%;
}

.banner__buy a {
  color: #888;
  text-decoration: underline;
}

.main {
  flex: 1 1 auto;
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 87px;
}

.catalog__list-item {
  width: 50%;
  margin-bottom: 113px;
}

.book {
  font-size: 24px;
  font-weight: 400;
}

.book__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 386px;
  height: 500px;
  border: 1px solid #888;
  border-radius: 30px;
  padding: 38px 56px 30px;
  margin: 0 auto;
}

.book__picture {
  align-self: center;
}

.book__title {
  height: 83px;
  overflow: auto;
  text-align: center;
  color: #888;
}

.book__button {
  visibility: hidden;
}

.button {
  height: 62px;
  line-height: 62px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #888;
  cursor: pointer;
}

.book:hover .book__button {
  visibility: visible;
}

.footer {
  color: #fff;
  background: #888;
}

.footer__content {
  height: 140px;
}
